<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer 管理后台</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="../assets/css/font-awesome-4.7.0.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/css/bootstrap-4.1.0.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/css/siteserver-1.0.7.min.css" rel="stylesheet" type="text/css" />
  <style>
    .nav .nav-link {
    font-weight: normal;
    border-radius: 1.25rem;
    font-size: 14px;
    }
    .editable, .editable a, .editable span {
      border-bottom: dashed 1px #0056b3 !important;
    }
  </style>
</head>

<body>
  <div id="main" class="m-2">
      <template v-if="pageLoad">
        <div class="card-box">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;" @click="{btnNavClick('settings.html')}">拦截设置</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;" @click="{btnNavClick('analysis.html')}">拦截统计</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="javascript:;" @click="{btnNavClick('ip.html')}">IP地址查询</a>
            </li>
          </ul>
          <hr />
          <div v-if="pageAlert" class="alert" v-bind:class="{ 'alert-warning': pageAlert.type === 'warning', 'alert-success': pageAlert.type === 'success', 'alert-danger': pageAlert.type === 'danger' }">
            <button v-on:click="pageAlert = null" class="close" data-dismiss="alert">×</button>
            <span v-html="pageAlert.html"></span>
          </div>
      
          <div class="form-group">
            <label>
              IP地址
              <small v-show="errors.has('ipAddress')" class="text-danger">
                {{ errors.first("ipAddress") }}
              </small>
            </label>
            <input
              type="text"
              v-model="ipAddress"
              name="ipAddress"
              data-vv-as="IP地址"
              v-validate="'required'"
              :class="{'is-invalid': errors.has('ipAddress') }"
              class="form-control"
            />
          </div>

          <template v-if="areaInfo">

            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <td :class="{'text-primary' : isAllowed, 'text-danger' : !isAllowed}">{{ areaInfo.areaEn + '(' + areaInfo.areaCn + ')' }}</td>
                </tr>
              </tbody>
            </table>

          </template>
  
          <hr />
  
          <div class="text-center">
            <button class="btn btn-primary" v-on:click="btnSubmitClick">
              查询
            </button>
          </div>

        </div>
      </template>
      <template v-else>
        <div class="text-center" style="margin-top: 100px">
          <img class="mt-3" src="../assets/images/loading.gif" />
          <p class="lead mt-3 text-nowrap">载入中，请稍后...</p>
        </div>
      </template>
    </div>
  </body>
</html>
<script src="../assets/lib/es6-promise.auto.min.js"></script>
<script src="../assets/lib/axios-0.18.0.min.js"></script>
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<script src="../assets/lib/layer/layer-3.1.1.js"></script>
<script src="../assets/lib/vue-2.6.10.min.js"></script>

<script src="../assets/lib/vee-validate/vee-validate-2.2.2.js"></script>
<script src="../assets/lib/vee-validate/locale/zh_CN-2.2.2.js"></script>
<script src="../assets/js/validate.js"></script>

<script src="../assets/lib/sweetalert2-7.28.4.all.min.js"></script>
<script src="../assets/js/swal2.js"></script>

<script src="../assets/js/utils.js"></script>
<script src="ip.js"></script>
